<form>
    <div class="form-group form-inline">Recherche <input class="form-control mr-5" type="text" name="searchTerm" [(ngModel)]="productService.searchTerm" />
        <span class="mr-10" *ngIf="productService.loading$ | async">Loading...</span>
        <button type="button"
                class="btn btn-success mr-1" (click)="import(content)">
            <i class="fa fa-upload"></i>
            Importez
        </button>
        <span class="mr-10">{{(video$ | async)?.length}} Video chargées</span>
    </div>
    <div *ngIf="currentFile" class="progress my-3">
        <div
            class="progress-bar progress-bar-info progress-bar-striped"
            role="progressbar"
            attr.aria-valuenow="{{ progress }}"
            aria-valuemin="0"
            aria-valuemax="100"
            [ngStyle]="{ width: progress + '%' }"
        >
            {{ progress }}%
        </div>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Video</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let video of video$ | async">
                <td><ngb-highlight [result]="video.nom"></ngb-highlight></td>
                <td>
                    <video poster="https://firebasestorage.googleapis.com/v0/b/africanstyle-15779.appspot.com/o/logo.png?alt=media&token=e725aeaa-b832-42b4-a485-0c2bd48ae652" id="my_video_1" class="video-js vjs-default-skin" width="240px" height="240px" controls preload="none">
                        <source [src]="video['url']"/> </video>
                </td>
                <button class="btn btn-light btn-sm" ngbDropdownItem
                        (click)="deleteVideoModal(deleteModal,video)">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
            </tr>
        </tbody>
    </table>
   <!-- <div class="d-flex justify-content-between p-2">
        <ngb-pagination [collectionSize]="total$ | async" [(page)]="productService.page" [pageSize]="productService.pageSize"></ngb-pagination
        ><select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="productService.pageSize">
            <option [ngValue]="2">2 items per page</option>
            <option [ngValue]="4">4 items per page</option>
            <option [ngValue]="6">6 items per page</option>
        </select>
    </div>-->
</form>

<ng-template #deleteModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Suppression</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">

            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>
            Si vous souhaitez supprimer cette vidéo, veuillez cliquer sur "Confirmer" !
        </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Annulez</button>
        <button type="submit" class="btn btn-primary" (click)="deleteVideo()">Confirmez</button>
    </div>


</ng-template>

<ng-template #content let-modal>
    <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="closeMe()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <ngx-dropzone (change)="onSelect($event)">
            <ngx-dropzone-label>Importer les vidéos ici</ngx-dropzone-label>
            <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
            </ngx-dropzone-preview>
        </ngx-dropzone>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="closeMe()">Validez</button>
    </div>

</ng-template>
